Package: com.mrbomst.icleaner
Name: Hack icleaner
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hack vip tweak icleanerpro
Depiction: https://mrbomst.github.io/depiction/icleanercrack/index.html
Maintainer: Mrbomst <ios.appcrack@gmail.com>
Author: Mrbomst
Section: Tweaks (Hacks)
Version: 1.0.0

