<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>默认主题</string>
	<key>description</key>
	<string>不要存在多个key包含重复值，可选值－透明度（,alphaValue）</string>
	<key>images</key>
	<dict/>
	<key>colors</key>
	<dict>
		<key>global-bg</key>
		<string>246,246,246</string>
		<key>color-k1</key>
		<string>21,180,116</string>
		<key>color-k2</key>
		<string>117,117,117,0.84</string>
		<key>color-k3</key>
		<string>0,0,0</string>
		<key>color-k4</key>
		<string>188,188,188</string>
		<key>color-k5</key>
		<string>255,255,255</string>
		<key>color-k6</key>
		<string>136,136,136</string>
		<key>color-k7</key>
		<string>180,180,180</string>
		<key>color-k8</key>
		<string>57,183,230</string>
		<key>color-k9</key>
		<string>255,255,255,0.5</string>
		<key>color-k10</key>
		<string>31,31,40</string>
		<key>color-k11</key>
		<string>33,33,46,0.3</string>
		<key>color-k12</key>
		<string>92,92,98</string>
		<key>color-k13</key>
		<string>255,255,255,0.35</string>
		<key>color-k14</key>
		<string>156,156,156</string>
		<key>color-k15</key>
		<string>0,0,0,0.1</string>
		<key>color-k16</key>
		<string>53,236,121</string>
		<key>color-k17</key>
		<string>0,169,101</string>
		<key>color-k18</key>
		<string>173,173,173</string>
		<key>color-k19</key>
		<string>22,9,51,0.5</string>
		<key>color-k20</key>
		<string>195,214,219</string>
		<key>color-k21</key>
		<string>119,119,119</string>
		<key>color-k22</key>
		<string>19,195,227</string>
		<key>color-k23</key>
		<string>51,51,51</string>
		<key>color-k24</key>
		<string>17,214,170</string>
		<key>color-k25</key>
		<string>170,194,201</string>
		<key>color-k26</key>
		<string>255,255,255,0.85</string>
		<key>color-k27</key>
		<string>255,255,255,0.3</string>
		<key>color-k28</key>
		<string>250,26,29</string>
		<key>color-k29</key>
		<string>0,0,0,0.05</string>
		<key>color-k30</key>
		<string>255,174,0</string>
		<key>color-k31</key>
		<string>0,185,255</string>
		<key>color-k32</key>
		<string>37,43,59,0.95</string>
		<key>color-k33</key>
		<string>186,191,192</string>
		<key>color-k34</key>
		<string>223,224,226</string>
		<key>color-k35</key>
		<string>37,202,136</string>
		<key>color-k36</key>
		<string>174,174,174</string>
		<key>color-k37</key>
		<string>115,115,115</string>
		<key>color-k38</key>
		<string>246,246,246,0.9</string>
		<key>color-k39</key>
		<string>211,211,211</string>
		<key>color-k40</key>
		<string>0,0,0,0.08</string>
		<key>color-k41</key>
		<string>153,153,153</string>
		<key>color-k42</key>
		<string>23,193,125</string>
		<key>color-k43</key>
		<string>172,172,172</string>
		<key>color-k44</key>
		<string>255,162,0</string>
		<key>color-k45</key>
		<string>255,30,62</string>
		<key>color-k46</key>
		<string>212,212,212</string>
		<key>color-k47</key>
		<string>80,80,80,0.3</string>
		<key>color-k48</key>
		<string>85,85,85</string>
		<key>color-k49</key>
		<string>0,0,0,0.5</string>
		<key>color-k50</key>
		<string>255,141,7</string>
		<key>color-k51</key>
		<string>229,229,229</string>
		<key>color-k52</key>
		<string>56,134,200</string>
		<key>color-k53</key>
		<string>14,191,217</string>
		<key>color-k54</key>
		<string>255,74,104</string>
		<key>color-k55</key>
		<string>201,201,201</string>
		<key>color-k56</key>
		<string>255,45,75</string>
		<key>color-k57</key>
		<string>255,150,0</string>
		<key>color-k58</key>
		<string>0,162,255</string>
		<key>color-k59</key>
		<string>40,185,127</string>
		<key>color-k60</key>
		<string>226,226,226</string>
		<key>color-k61</key>
		<string>220,220,220</string>
		<key>color-k62</key>
		<string>102,102,102</string>
		<key>color-k63</key>
		<string>229,229,229</string>
		<key>color-k64</key>
		<string>163,190,190</string>
		<key>color-k65</key>
		<string>255,255,255,0.2</string>
		<key>color-k66</key>
		<string>4,24,30,0.35</string>
		<key>color-k67</key>
		<string>255,255,255,0.55</string>
		<key>color-k68</key>
		<string>255,128,15</string>
		<key>color-k69</key>
		<string>0,0,0,0.45</string>
		<key>color-k70</key>
		<string>177,202,202</string>
		<key>color-k71</key>
		<string>14,203,134</string>
		<key>color-k72</key>
		<string>39,190,175</string>
		<key>color-k73</key>
		<string>9,255,255,0.15</string>
		<key>color-k74</key>
		<string>0,172,109</string>
		<key>color-k75</key>
		<string>0,255,90</string>
		<key>color-k76</key>
		<string>253,2,85</string>
		<key>color-k77</key>
		<string>192,52,112</string>
		<key>color-k78</key>
		<string>118,112,144</string>
		<key>color-k79</key>
		<string>42,175,174</string>
		<key>color-k80</key>
		<string>0,212,184</string>
		<key>color-k81</key>
		<string>0,235,173</string>
		<key>color-k82</key>
		<string>0,246,148</string>
		<key>color-k83</key>
		<string>0,251,117</string>
		<key>color-k84</key>
		<string>255,255,255,0.1</string>
		<key>color-k85</key>
		<string>155,161,167</string>
		<key>color-k86</key>
		<string>25,23,40,0.6</string>
		<key>color-k87</key>
		<string>192,210,209</string>
		<key>color-k88</key>
		<string>0,0,0,0.3</string>
		<key>color-k89</key>
		<string>194,23,39</string>
		<key>color-k90</key>
		<string>95,106,114</string>
		<key>color-k91</key>
		<string>230,230,230</string>
		<key>color-k92</key>
		<string>255,0,0</string>
		<key>color-k93</key>
		<string>89,131,222</string>
		<key>color-k94</key>
		<string>2,174,240,0.7</string>
		<key>color-k95</key>
		<string>208,36,36,0.7</string>
		<key>color-k96</key>
		<string>255,127,0</string>
		<key>color-k97</key>
		<string>239,239,239</string>
		<key>color-k98</key>
		<string>209,209,209</string>
		<key>color-k99</key>
		<string>29,170,103,0.9</string>
		<key>color-k100</key>
		<string>252,0,77</string>
		<key>color-k101</key>
		<string>68,68,68</string>
		<key>color-k102</key>
		<string>9,39,25,0.6</string>
		<key>color-k103</key>
		<string>255,93,97</string>
		<key>color-k104</key>
		<string>27,170,103</string>
		<key>color-k105</key>
		<string>232,232,232</string>
		<key>color-k106</key>
		<string>251,166,42</string>
		<key>color-k107</key>
		<string>255,53,81</string>
		<key>color-k108</key>
		<string>245,0,63</string>
		<key>color-k109</key>
		<string>223,24,62</string>
		<key>color-k110</key>
		<string>238,186,45</string>
		<key>color-k111</key>
		<string>255,248,104</string>
		<key>color-k112</key>
		<string>141,216,186</string>
		<key>color-k113</key>
		<string>197,237,221</string>
		<key>color-k114</key>
		<string>0,0,0,0.1</string>
		<key>color-k115</key>
		<string>255,126,0</string>
		<key>color-k116</key>
		<string>8,163,235</string>
		<key>color-k117</key>
		<string>217,217,217</string>
		<key>color-k118</key>
		<string>86,154,143</string>
		<key>color-k119</key>
		<string>198,198,198</string>
		<key>color-k120</key>
		<string>255,27,59</string>
		<key>color-k121</key>
		<string>26,16,59,0.2</string>
		<key>color-k122</key>
		<string>222,222,222</string>
		<key>color-k123</key>
		<string>239,0,49</string>
		<key>color-k124</key>
		<string>182,30,232</string>
		<key>color-k125</key>
		<string>38,200,165</string>
		<key>color-k126</key>
		<string>246,246,246,0.5</string>
		<key>color-k127</key>
		<string>242,244,245</string>
		<key>color-k128</key>
		<string>224,224,224</string>
		<key>color-k129</key>
		<string>255,44,79</string>
		<key>color-k130</key>
		<string>255,229,191</string>
		<key>color-k131</key>
		<string>23,192,125</string>
		<key>color-k132</key>
		<string>255,78,78</string>
		<key>color-k133</key>
		<string>235,235,235</string>
		<key>color-k134</key>
		<string>208,208,208</string>
		<key>color-k135</key>
		<string>184,184,184</string>
		<key>color-k136</key>
		<string>254,251,234</string>
		<key>color-k137</key>
		<string>50,50,50</string>
		<key>color-k138</key>
		<string>255,87,86</string>
		<key>color-k139</key>
		<string>21,203,129</string>
		<key>color-k140</key>
		<string>18,195,123</string>
		<key>color-k141</key>
		<string>0,23,39</string>
		<key>color-k142</key>
		<string>179,178,176</string>
		<key>color-k143</key>
		<string>254,102,1</string>
		<key>color-k144</key>
		<string>103,103,103</string>
		<key>color-k145</key>
		<string>231,231,231</string>
		<key>color-k146</key>
		<string>23,179,116</string>
		<key>color-k147</key>
		<string>255,69,70</string>
		<key>color-k148</key>
		<string>255,169,2</string>
		<key>color-k149</key>
		<string>170,170,170</string>
		<key>color-k150</key>
		<string>254,35,67</string>
		<key>color-k151</key>
		<string>23,160,228</string>
		<key>color-k152</key>
		<string>204,204,204</string>
		<key>color-k153</key>
		<string>80,202,32</string>
		<key>color-k154</key>
		<string>0,0,0,0.7</string>
		<key>color-k155</key>
		<string>21,19,30,0.9</string>
		<key>color-k156</key>
		<string>255,75,75</string>
		<key>color-k157</key>
		<string>165,165,165</string>
		<key>color-k158</key>
		<string>36,178,225</string>
		<key>color-k159</key>
		<string>189,162,115</string>
		<key>color-k160</key>
		<string>105,166,184</string>
		<key>color-k161</key>
		<string>92,182,157</string>
		<key>color-k162</key>
		<string>34,38,41</string>
		<key>color-k163</key>
		<string>120,120,120</string>
		<key>color-k164</key>
		<string>56,61,67</string>
		<key>color-k165</key>
		<string>255,33,72</string>
		<key>color-k166</key>
		<string>47,183,233</string>
		<key>color-k167</key>
		<string>32,199,113</string>
		<key>color-k168</key>
		<string>239,187,45</string>
		<key>color-k169</key>
		<string>255,251,86</string>
		<key>color-k170</key>
		<string>255,62,79</string>
		<key>color-k171</key>
		<string>4,187,255</string>
		<key>color-k172</key>
		<string>204,5,254</string>
		<key>color-k173</key>
		<string>0,216,142</string>
		<key>color-k174</key>
		<string>24,25,29</string>
		<key>color-k175</key>
		<string>135,135,135</string>
		<key>color-k176</key>
		<string>41,184,128</string>
		<key>color-k177</key>
		<string>255,172,30</string>
		<key>color-k178</key>
		<string>234,234,234</string>
		<key>color-k179</key>
		<string>19,216,137</string>
		<key>color-k180</key>
		<string>253,44,75</string>
		<key>color-k181</key>
		<string>117,212,47</string>
		<key>color-k182</key>
		<string>255,90,129</string>
		<key>color-k183</key>
		<string>81,146,245</string>
		<key>color-k184</key>
		<string>191,123,73</string>
		<key>color-k185</key>
		<string>20,216,168</string>
		<key>color-k186</key>
		<string>162,81,245</string>
		<key>color-k187</key>
		<string>21,191,227</string>
		<key>color-k188</key>
		<string>255,84,86</string>
		<key>color-k189</key>
		<string>233,98,98,0.99</string>
		<key>color-k190</key>
		<string>82,86,96</string>
		<key>color-k191</key>
		<string>0,150,255</string>
		<key>color-k192</key>
		<string>255,96,2</string>
		<key>color-k193</key>
		<string>225,225,225</string>
		<key>color-k194</key>
		<string>0,139,254</string>
		<key>color-k195</key>
		<string>52,185,128</string>
		<key>color-k196</key>
		<string>255,133,3</string>
		<key>color-k197</key>
		<string>255,60,0</string>
		<key>color-k198</key>
		<string>38,125,233</string>
		<key>color-k199</key>
		<string>31,172,224</string>
		<key>color-k200</key>
		<string>87,195,0</string>
		<key>color-k201</key>
		<string>104,58,235</string>
		<key>color-k202</key>
		<string>19,175,233</string>
		<key>color-k203</key>
		<string>43,43,51</string>
		<key>color-k204</key>
		<string>250,250,250</string>
		<key>color-k205</key>
		<string>235,52,74</string>
		<key>color-k206</key>
		<string>255,197,204</string>
		<key>color-k207</key>
		<string>239,239,244</string>
		<key>color-k208</key>
		<string>241,242,243</string>
		<key>color-k209</key>
		<string>241,0,50</string>
		<key>color-k210</key>
		<string>255,22,66</string>
		<key>color-k211</key>
		<string>14,135,252</string>
		<key>color-k212</key>
		<string>13,144,244</string>
		<key>color-k213</key>
		<string>183,183,183</string>
	</dict>
</dict>
</plist>
