<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>新闻详情页 - 兔兔助手</title>
    <meta name="format-detection" content="telphone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <noscript><meta http-equiv="X-Frame-Options" content="deny" /></noscript>
    <link rel="stylesheet" href="./css/base.css"/>
    <style type="text/css" id="font_size_style"></style>
</head>
<body>

	<div id="container" class="container">
		<div id="content" class="content">
			<!-- will fill template content -->
			<div id="fill_content">
				<div class="error title"><h1></h1></div>
			</div>

			<div id="comments" class="section comments" style="display: none;">
				<div id="hot-comments"></div>
				<div id="new-comments"></div>
			</div>

			<!-- ads -->
			<div id="wea_d_news_bottom" class="wea_d_panel wea_d_720_240"></div>

		</div>
	</div>

    <!-- 新闻通用 -->
    <textarea id="common_fill_tmpl" class="tmpl" style="display:none">
        <%if(typeof bannerSrc != 'undefined' && bannerSrc.length > 0){%>
            <!-- 顶部图片 -->
            <div class="news-banner"><img src="./images/img_holder_loading.png" longdesc="<%= bannerSrc%>" class="topBannerImg pic_hold" data-loaded="0"></div>
        <%}else{bannerSrc = ''}%>

        <!-- 新闻内容 -->
        <div class="news-container-wrap inner b_content">
            <header id="thread_<%= pid%>">
                <p class="zixun"><%if(typeof category != 'undefined' && category.length > 0){%><%= category%><%}else{%>新闻<%}%><i class="yuan"></i><span class="sj_date"><%if(typeof postDate != 'undefined' && postDate.length > 0){%><%= postDate%><%}%></span></p>
                <h3 class="name"><%= title%></h3>
                <p class="word"><em>文 / <%if(typeof author != 'undefined' && author.length > 0){%><%= author%><%}else{%>匿名<%}%></em></p>
            </header>

            <%if(typeof appinfo === 'object' && appinfo.appId){%>
                <div class="appinfo-wrap">
                    <div class="appinfo-box">
                        <div class="pic-box"><img src="./images/img_holder_loading.png" longdesc="<%= appinfo.icon%>"></div>
                        <div class="appinfo-content">
                            <h3 class="name"><%= appinfo.name%></h3>
                            <p class="score-bar"><%= ds.fixStar(ds.fixStarNum(appinfo.score))%><span class="size">( <%= appinfo.size%> )</span></p>
                            <p class="tags-bar"><%for(var i=0, item, len=appinfo.tags.length; i<len && (item=appinfo.tags[i]); i++){%><span class="tag"><%= item%></span><%}%><span class="dCount"><em></em><%= appinfo.dCount%></span></p>
                            <p class="description"><%= appinfo.description%></p>
                        </div>
                        <div class="download-box">
                            <span class="download-btn" data-pid="<%= pid%>" data-app-id="<%= appinfo.appId%>">安装</span>
                            <%if(appinfo.prevPrice){%><p class="price">原价:&yen;<%= appinfo.prevPrice%></p><%}%>
                        </div>
                    </div>
                </div>
            <%}%>

            <div class="news-content lr-space"><%= ds.fixContentNoFirstImg(content, {"bannerSrc" : bannerSrc, showPic:showPic, showIcon:showIcon})%></div>
        </div>
    
    </textarea>

	<!-- 新闻合集 -->
	<textarea id="software_list_fill_tmpl" class="tmpl" style="display:none">
		<%if(typeof bannerSrc != 'undefined' && bannerSrc.length > 0){%>
			<!-- 顶部图片 -->
			<div class="news-banner"><img src="./images/img_holder_loading.png" longdesc="<%= bannerSrc%>" class="topBannerImg pic_hold" data-loaded="0"></div>
		<%}else{bannerSrc = ''}%>

		<!-- 新闻内容 -->
		<div class="news-container-wrap inner b_content">
			<header id="thread_<%= pid%>">
				<p class="zixun"><%if(typeof category != 'undefined' && category.length > 0){%><%= category%><%}else{%>新闻<%}%><i class="yuan"></i><span class="sj_date"><%if(typeof postDate != 'undefined' && postDate.length > 0){%><%= postDate%><%}%></span></p>
				<h3 class="name"><%= title%></h3>
				<p class="word"><em>文 / <%if(typeof author != 'undefined' && author.length > 0){%><%= author%><%}else{%>匿名<%}%></em></p>
			</header>

            <div class="article-list">

                <%for(var article,k=0, appinfo, articleLen=articleArr.length; k<articleLen&&(article=articleArr[k]); k++){%>
                    <div class="article-item">                      
                        <h3 class="article-title"><%= article.title%></h3>
            			<div class="news-content lr-space"><%= ds.fixContentNoFirstImg(article.content, {showPic:showPic, showIcon:showIcon})%></div>

                        <% if(true){appinfo=article.appinfo}%>
                        <%if(appinfo && appinfo.appId){%>
                            <div class="appinfo-wrap">
                                <div class="appinfo-box">
                                    <div class="pic-box"><img src="./images/img_holder_loading.png" longdesc="<%= appinfo.icon%>"></div>
                                    <div class="appinfo-content">
                                        <h3 class="name"><%= appinfo.name%></h3>
                                        <p class="score-bar"><%= ds.fixStar(ds.fixStarNum(appinfo.score))%><span class="size">( <%= appinfo.size%> )</span></p>
                                        <p class="tags-bar"><%for(var i=0, item, len=appinfo.tags.length; i<len && (item=appinfo.tags[i]); i++){%><span class="tag"><%= item%></span><%}%><span class="dCount"><em></em><%= appinfo.dCount%></span></p>
                                        <p class="description"><%= appinfo.description%></p>
                                    </div>
                                    <div class="download-box">
                                        <span class="download-btn" data-pid="<%= pid%>" data-app-id="<%= appinfo.appId%>">安装</span>
                                        <%if(appinfo.prevPrice){%><p class="price">原价:&yen;<%= appinfo.prevPrice%></p><%}%>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                <%}%>

            </div>
		</div>
	
	</textarea>

	<textarea class="tmpl" style="display: none;" id="comments_tmpl">
		<%if(typeof commentType != 'undefined' && commentType == 2){%>
			<header class="new-c-title">
				<h2>最新评论</h2>
			</header>
		<%}else{%>
			<header>
				<h2>热门评论</h2>
			</header>
		<%}%>
        <div class="comments-container">
            <ul>
                <%for(var item,i=0, len=comments.length; i<len&&(item=comments[i]); i++){%>
                    <li>
                        <header class="avatar" data-uid="<%= item.uid%>" data-username="<%= item.username%>">
                            <img src="./images/user_face.png" longdesc="<%= item.icon%>">
                        </header>
                        <p class="user-bar">
                            <span class="username"  data-uid="<%= item.uid%>" data-username="<%= item.username%>"><%= item.username%></span>
                        </p>
                        <p class="menu-bar">
                            <span class="post-time"><%= item.postDate%></span>
                            <span class="r-btn praise-btn<%if(item.havePraise){%> active<%}%>" data-username="<%= encodeURIComponent(item.username)%>" data-post-date="<%= item.postDate%>" data-cid="<%= item.cid%>" data-cuid="<%= item.uid%>" data-floor="<%= item.floor%>" data-comment="<%= encodeURIComponent(item.content)%>"><em><%if(item.praiseCount > 0){%><%= item.praiseCount%><%}%></em></span>
                            <span class="r-btn tread-btn<%if(item.haveTread){%> active<%}%>" data-username="<%= encodeURIComponent(item.username)%>" data-post-date="<%= item.postDate%>" data-cid="<%= item.cid%>" data-cuid="<%= item.uid%>" data-floor="<%= item.floor%>" data-comment="<%= encodeURIComponent(item.content)%>"><em><%if(item.treadCount > 0){%><%= item.treadCount%><%}%></em></span>
                        </p>
                        <div class="cmt-content" data-username="<%= encodeURIComponent(item.username)%>" data-post-date="<%= item.postDate%>" data-cid="<%= item.cid%>" data-cuid="<%= item.uid%>" data-floor="<%= item.floor%>" data-comment="<%= encodeURIComponent(item.content)%>"><%= item.content%></div>
                        <%if(typeof item.replayArr != 'undefined' && item.replayArr.length > 0) {%>
                            <div class="cmt-inner">
                                <ul>
                                    <%for(var ritem,j=0, rlen=item.replayArr.length; j<rlen&&(ritem=item.replayArr[j]); j++){%>
                                        <li>
                                            <p class="user-bar">
                                                <span class="username" data-uid="<%= ritem.uid%>" data-username="<%= ritem.username%>"><%= ritem.username%></span><%if(ritem.rusername && (ritem.rusername != item.username)){%>回复<span class="username" data-uid="<%= ritem.ruid%>" data-username="<%= ritem.rusername%>"><%= ritem.rusername%></span><%}%>
                                            </p>
                                            <p class="menu-bar">
                                                <span class="post-time"><%= ritem.postDate%></span>
                                                <span class="r-btn praise-btn<%if(ritem.havePraise){%> active<%}%>" data-parent-id="<%= item.cid%>" data-parent-uid="<%= item.uid%>" data-parent-username="<%= item.username%>" data-username="<%= encodeURIComponent(ritem.username)%>" data-post-date="<%= ritem.postDate%>" data-cid="<%= ritem.cid%>" data-cuid="<%= ritem.uid%>" data-floor="<%= ritem.floor%>" data-comment="<%= encodeURIComponent(ritem.content)%>"><em><%if(ritem.praiseCount > 0){%><%= ritem.praiseCount%><%}%></em></span>
                                                <span class="r-btn tread-btn<%if(ritem.haveTread){%> active<%}%>" data-parent-id="<%= item.cid%>" data-parent-uid="<%= item.uid%>" data-parent-username="<%= item.username%>" data-username="<%= encodeURIComponent(ritem.username)%>" data-post-date="<%= ritem.postDate%>" data-cid="<%= ritem.cid%>" data-cuid="<%= ritem.uid%>" data-floor="<%= ritem.floor%>" data-comment="<%= encodeURIComponent(ritem.content)%>"><em><%if(ritem.treadCount > 0){%><%= ritem.treadCount%><%}%></em></span>
                                            </p>
                                            <div class="cmt-content" data-parent-id="<%= item.cid%>" data-parent-uid="<%= item.uid%>" data-parent-username="<%= item.username%>" data-username="<%= encodeURIComponent(ritem.username)%>" data-post-date="<%= ritem.postDate%>" data-cid="<%= ritem.cid%>" data-cuid="<%= ritem.uid%>" data-floor="<%= ritem.floor%>" data-comment="<%= encodeURIComponent(ritem.content)%>"><%= ritem.content%></div>
                                        </li>
                                    <%}%>
                                </ul>
                            </div>
                        <%}%>
                    </li>
                <%}%>
            </ul>
        </div>
	</textarea>

<script type="text/javascript" src="./js/zepto.min.js"></script>
<script type="text/javascript" src="./js/ds.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>